*

!.gitignore
!/.config/
!.gitconfig

# BashRC
!/.bashrc

# Fish
!/.config/fish/
!/.config/fish/config.fish

# NeoVim
!/.config/nvim/
!/.config/nvim/init.vim

# Gpg
!/.gnupg/
!/.gnupg/gpg-agent.conf
